.main-body {
    background-color: #DDD0C8;
}

.nav-container {
    padding: 20px;
}

.nav-container nav {
    border-radius: 50px;
}

.nav-container .custom-nav {
    background-color: #323232;
}

.logo {
    width: 30px;
}

.css_nav {
    padding: 10px;
    border-radius: 10px;
}

.nav-container button {
    background-color: #4774f1;
    color: #e4e1dc;
}

.hero-sec .btn-1 {
    color: #DDD0C8;
}

.footer-sec-1 {
    background-color: #7a6d65;
    color: #DDD0C8;
}

.footer-sec-2 {
    background-color: #323232;
    color: #DDD0C8;
}

.footer-logo {
    width: 70px;
}

.nav-link-text {
    color: #e4e1dc;
    opacity: 0.5;
    text-decoration: none;
}
